<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone=no">
	<meta name="it-rating" content="it-rat-cd303c3f80473535b3c667d0d67a7a11">
	<meta name="cmsmagazine" content="3f86e43372e678604d35804a67860df7">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
	<title><%= pageTitle %> | <%= siteName %></title>
	<meta name='description' content="" />
	<meta name="keywords" content="" />
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
	<link rel="preload stylesheet" href="/css/style.css" as="style">
</head>

<body class="loaded">


	<!-- BEGIN BODY -->

	<div class="main-wrapper">

		<!-- BEGIN CONTENT -->

		<%- include(`../pages/${template}`)  %>

		<!-- CONTENT EOF   -->
		<%- include('./partials/header') %>

		<%- include('./partials/footer') %>



	</div>

	<div class="icon-load"></div>

	<!-- BODY EOF   -->
	<%- include('./partials/bottompage_scripts/categories_js_scripts')%>
</body>

</html>