<!DOCTYPE html>
<html>
  <head>
    <title>Cotonou Direct International Shipping LLC Ocean Freight Rates </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'img/apple-touch-icon.png', rel: 'apple-touch-icon', type:'image/png' %> 
    <meta content="Cotonou Direct International Ocean Rates" name="description" >
    <meta content="CTD-Ocean-Freight ctd-rates ctdrates " name="keywords" >
  </head>

  <body>

    <main>
        <%= yield %>
    </main>
  </body>
</html>
